.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width: 1070px) {
    .container{
        grid-template-columns: 1fr;
    }
    
}

@media screen and (min-width: 1070px) and (max-width: 1600px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
    
}
