table{
    width: 60%;
    margin: auto;
}

table, th, td{
    border: 1px solid gray;
    color: rgb(56, 56, 56);
}

th{
    background-color: yellow;
    text-align: right;
}
th, td{
    padding: 3px 0px 3px 2px;
}

#divider{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

#pink_ninja{
    padding-left: 0;
    background-color: pink;
    text-align: center;
}

#best_learner{
    padding-left: 0;
    text-align: center;
    font-weight: bold;
    color: black;
}

#title{
    margin: auto;
    text-align: center;
    width: 60%;
}


@media screen and (max-width: 800px) {
    table{
        width: 80%;
    }
    #title{
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    table{
        width: 70%;
    }
    #title{
        width: 70%;
    }
}